root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.{yaml,yml}]
indent_style = space
indent_size = 2
insert_final_newline = true

[*.{py}]
indent_style = space
indent_size = 4
insert_final_newline = true

[*.{rst}]
insert_final_newline = true

[{.gitignore,.dockerignore}]
insert_final_newline = true