[flake8]
exclude=.git,
        __pycache__,
        build,
        scripts,
        dist,
        homecontrol.egg-info

ignore=F821,  # Undefined name name
       W503,  # Line break occurred before a binary operator
       E741,  # Do not use variables named 'l', 'o', or 'i'
       E743,  # Do not define functions named 'l', 'o', or 'i'
       E226,  # Missing whitespace around arithmetic operator
       E228   # Missing whitespace around modulo operator